{% extends 'base.html.twig' %}

{% block title %}Customer index{% endblock %}

{% block body %}


    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">{{ wo_render_breadcrumbs() }}</h1>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <a class="btn btn-outline-primary rounded-pill mr-3"
                   href="{{ path('customer_new') }}">Add Customer</a>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-borderless text-center justify-content-center align-content-center nowrap dataTable" id="dataTable" style="width:100%;" cellspacing="0">
                        <thead class="bg-primary text-white">
                        <tr>
                            <th>#</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>EmailAddress</th>
                            <th>PhoneNumber</th>
                            <th>UUID</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>EmailAddress</th>
                            <th>PhoneNumber</th>
                            <th>UUID</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for customer in customers %}
                            <tr>
                                <td>{{ customer.id }}</td>
                                <td>{{ customer.firstname }}</td>
                                <td>{{ customer.lastname }}</td>
                                <td>{{ customer.emailAddress }}</td>
                                <td>{{ customer.phoneNumber }}
                                <td>{{ customer.UUID }}</td>
                                <td class="text-center">
                                    <a class="btn btn-outline-info rounded-circle" href="{{ path('customer_show', {'id': customer.id} ) }}">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                    <a class="btn btn-outline-secondary rounded-circle" href="{{ path('customer_edit', {'id': customer.id}) }}">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                    </a>
                                    <form method="post" action="{{ path('customer_delete' , {'id':customer.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item ?')">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer.id ) }}">
                                        <button class="btn btn-outline-danger rounded-circle"><i class="fa fa-trash"></i></button>
                                    </form>
                                </td>
                            </tr>

                        {% else %}
                            <tr>
                                <td colspan="10">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- /.container-fluid -->
{% endblock %}
